graft src/wildcardmedia
graft docs
include *.rst
global-exclude *.pyc
include *.js
include *.json
include *.lock
prune src/wildcardmedia/multipler/browser/static/dist/dev
prune node_modules
exclude .babelrc
exclude .nvmrc
